body {
    padding: 0;
    margin: 0;
}
header {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    padding-left: 50px;
}

.download {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 20px 5px lightgrey;
    border-radius: 50%;
}

.download img {
    width: 30px;
}

#presentation {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: lightblue;
    padding: 0 100px;
}

#introduction {
    display: flex;
    /* background-color: lightpink; */
    flex: 0 0 40%;
    max-height: 100px;
    font-family: 'Alegreya Sans', sans-serif;
    /* up right down left */
    /* padding: 1px 2px 3px 4px; */
}

.identity > p {
    /* margin: 0; */
}

.identity > #name {
    font-weight: bold;
    font-size: 40px;
}

.photo img {
    height: auto;
    max-height: 80px;
    width: auto;
    max-width: 80px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 5px lightgrey;
}

footer {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: lightpink;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around
}

footer > h4 {
    font-size: 10px;
    margin: 10 0 10 0;
}