body {
    padding: 0;
    margin: 0;
}
header {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
    padding-left: 50px;
}

.download {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 20px black;
    border-radius: 50%;
}

.download img {
    width: 30px;
}

#presentation {
    height: 150px;
    display: flex;
    align-items: center;
    background-color: lightblue;
    padding: 0 100px;
}

#introduction {
    display: flex;
    /* background-color: lightpink; */
    flex: 0 0 40%;
    /* up right down left */
    /* padding: 1px 2px 3px 4px; */
}

.identity > p {
    /* margin: 0; */
}

.identity > #name {
    font-weight: bold;
}

.photo img {
    height: 100px;
    margin-right: 20px;
}
