body, p {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 15%;
    width: 100vw;
    background-color: lightskyblue;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    padding-left: 50px;
}

.download {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 20px 5px lightgrey;
    border-radius: 50%;
}

.download img {
    width: 30px;
}

/*
#presentation {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: lightblue;
    padding: 0 200px;
}
*/

#introduction {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: red;
    max-height: 100px;
    font-family: 'Alegreya Sans', sans-serif;
    /* up right down left */
    /* padding: 1px 2px 3px 4px; */
}

.identity {
    justify-content: center;
    text-align: left;
}

.identity > p {
    margin: 0 20px;
}

.identity > #name {
    font-weight: bold;
    font-size: 40px;
}

.identity > #job {
    color: #0099FF;
}

.photo img {
    display: flex;
    justify-content: center;
    height: auto;
    max-height: 80px;
    width: auto;
    max-width: 80px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 5px lightgrey;
}

#section-title {
    width: auto;
    max-width: 100px;
    grid-column: 3;
    grid-row: 1;
    background-color: blue;    
    justify-content: left;
    font-family: 'Signika', sans-serif;
}

li {
    list-style-type: none;
}

.section-content {
        grid-column: 2 / span 2;
        grid-row: 2;
        background-color: green;
}

footer {
    font-family: 'Alegreya Sans', sans-serif;
    height: 70px;
    width: 100vw;
    background-color: lightgreen;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex: 0 0 10%;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 30px 5px lightgrey;
}

.site {
    max-height: 70px;
}

.contact {
    max-height: 70px;
}

.site > h4 {
    font-size: 15px;
    margin: 4px 0;
    padding: 0 0;
}

.site > p {
    font-size: 10px;
    margin: 0 0;
    padding: 0 0;
    color: #0099FF;
}

.contact > h4 {
    font-size: 15px;
    margin: 4px 0;
    padding: 0 0;
}

.contact > p {
    font-size: 10px;
    margin: 0 0;
    padding: 0 0;
    color: #0099FF;
}

@media (max-width: 500px) {
    .header, .footer {
        flex: 0 0 8%;
    }

    .content {
        width: 100vw;
        flex: 0 0 84%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #introduction, #section-title, .section-content {
        display: block;
        width: 100%;
    }

    #introduction, #section-title {
        height: 10%;
    }

    .section-content {
        height: 80%;
    }
}